# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual env
venv/
.env
env/
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Byte-compiled
*.pyo
*.pyd

# FastAPI specific / uploads


# SQLite / DB
*.sqlite3
*.db

# Pytest / coverage
.coverage
htmlcov/
.pytest_cache/

# Wakatime config
.wakatime.cfg
