fastapi>=0.115.0
uvicorn[standard]>=0.29.0
SQLAlchemy>=2.0.31
psycopg2-binary>=2.9.9
passlib[bcrypt]>=1.7.4
python-magic>=0.4.27
isbnlib>=3.10.14
requests>=2.32.3
pydantic>=2.8.2
pydantic-settings>=2.4.0
fastapi-csrf-protect>=0.3.6
jinja2>=3.1.4
python-dotenv>=1.0.1
