fastapi==0.116.1
uvicorn[standard]==0.18.3
sqlalchemy==2.0.34
pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1
fastapi-csrf-protect==1.0.3
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
isbnlib==3.10.14
python-magic==0.4.27
requests==2.32.4
Jinja2==3.1.6
starlette-securecookies==1.1.1
psycopg2==2.9.10
python-multipart==0.0.20
cloudinary==1.30.0
