fastapi~=0.116.1
uvicorn[standard]~=0.18.3

pydantic-settings~=2.10.1
python-dotenv~=1.1.1

sqlalchemy~=2.0.34
psycopg2~=2.9.10

passlib[bcrypt]~=1.7.4
isbnlib~=3.10.14
python-magic~=0.4.27
requests~=2.32.4
httpx~=0.28.1
apscheduler~=3.11.0
cloudinary~=1.30.0
sib-api-v3-sdk~=7.6.0

Jinja2~=3.1.6
python-multipart~=0.0.20
fastapi-csrf-protect~=1.0.3
starlette-securecookies~=1.1.1