fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
fastapi-csrf-protect
passlib[bcrypt]>=1.7.4
bcrypt<4.0.0
isbnlib
python-magic
requests
Jinja2
starlette-securecookies
psycopg2
python-multipart
cloudinary
