{% extends "emails/_base_email.html" %} {% block title %}Verifica il tuo Account BookLib{% endblock
%} {% block header_title %}BookLib - Verifica Account{% endblock %} {% block content %}
<p>Ciao {{ username }},</p>
<p>
    Grazie per esserti registrato a BookLib! Per completare la registrazione e attivare il tuo
    account, per favore clicca sul pulsante qui sotto:
</p>
<p style="text-align: center">
    <a href="{{ verification_link }}" class="button">Verifica il mio Account</a>
</p>
<p>Se il pulsante non funziona, puoi copiare e incollare il seguente link nel tuo browser:</p>
<p><a href="{{ verification_link }}">{{ verification_link }}</a></p>
<p>Se non hai creato tu questo account, puoi ignorare questa email.</p>
{% endblock %}
