{% extends "emails/_base_email.html" %} {% block title %}Reset Password BookLib{% endblock %} {%
block header_title %}BookLib - Reset Password{% endblock %} {% block content %}
<p>Ciao {{ username }},</p>
<p>
    Abbiamo ricevuto una richiesta di reset della password per il tuo account BookLib. Se sei stato
    tu, clicca sul pulsante qui sotto per impostare una nuova password:
</p>
<p style="text-align: center">
    <a href="{{ reset_link }}" class="button" style="color: #ffffff">Imposta Nuova Password</a>
</p>
<p>Se il pulsante non funziona, puoi copiare e incollare il seguente link nel tuo browser:</p>
<p><a href="{{ reset_link }}">{{ reset_link }}</a></p>
<p class="expiry-notice">Attenzione: questo link scadrà tra {{ expire_minutes }} minuti.</p>
<p>
    Se non hai richiesto tu il reset della password, ignora questa email. La tua password attuale
    rimarrà invariata.
</p>
{% endblock %}
