<script>
    document.addEventListener("DOMContentLoaded", () => {
        for (const icon of document.querySelectorAll(".password-toggle-icon")) {
            icon.addEventListener("click", () => {
                const targetInputId = icon.dataset.target;
                const targetInput = document.getElementById(targetInputId);
                const eyeOpen = icon.querySelector(".eye-open");
                const eyeClosed = icon.querySelector(".eye-closed");

                if (targetInput.type === "password") {
                    targetInput.type = "text";
                    eyeOpen.classList.remove("hidden");
                    eyeClosed.classList.add("hidden");
                } else {
                    targetInput.type = "password";
                    eyeOpen.classList.add("hidden");
                    eyeClosed.classList.remove("hidden");
                }
            });
        }
    });
</script>
